@import "./../../../../index.scss";
.techContainer {
  margin: 50px 0px;
  padding: 40px 20px;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  flex-direction: column;
  justify-content: space-evenly;

  .techHeaderLight {
    color: #42446e;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .techHeaderDark {
    color: #9b9ba3;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .thingsBuiltDark {
    font-weight: 400;
    font-size: 28px;
    color: #9b9ba3;
    line-height: 26px;
    display: flex;
    justify-content: center;
  }
  .thingsBuiltLight {
    font-weight: 400;
    font-size: 28px;
    color: #42446e;
    line-height: 30px;
    display: flex;
    justify-content: center;
  }
  .tech {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    @include maxWidth(768) {
      justify-content: center !important;
      justify-content: center;
    }
  }
}
.techItem:nth-child(4) {
  animation: loading 15s linear infinite;
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
