@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light"),
    url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
}
